body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ddd;
}

.header {
  height: 10em;
  padding: 4em;
  font-size: 2em;
  background-image: url("../img/fondo.webp");
  background-size: cover;
  background-position: unset;
  background-repeat: no-repeat;
}

.header h1 {
  margin: 0px;
  font-weight: 400;
  color: #ddd;
}

.header p {
  color: #ddd;
}

.products {
  width: 80%;
  margin: auto;
}

.products td {
  width: 50%;
  padding: 2em;
  font-size: 1.2em;
}

.products img {
  width: 100%;
  border: solid 1px #ddd;
}

.footer {
  height: 3em;
  line-height: 3em;
  background-color: rgb(129, 84, 17);
  color: white;
  text-align: center;
  font-weight: 900;
}
